body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
  }

  .box{
    width: 600px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: 100px auto;
    color: white;
  }
  img{
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 40px;
    border-bottom: 6px solid #d32f2f;
    margin-bottom: 40px;
    padding: 10px 0; 
  }
  .box2{
      margin-bottom: 60px;
  }
  .login{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #d32f2f;
  }
  .login i{
    width: 26px;
    font-size: 26px;
    float: left;
    text-align: center;
  }
  .login input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .btnn{
    width: 100%;
    background: none;
    border: 2px solid #d32f2f;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }

  .btnn:hover{
      color: #000;
      background: #d32f2f;
      font-weight: bolder;
      border: 3px solid #fff;
      box-shadow: 0 0 10px #d32f2f, 0 0 40px #d32f2f, 0 0 80px #d32f2f;
  }
